{% extends "layout.html" %}

{% block title %}Forgot password{% endblock title %}

{% block content %}
    <div>
        <form method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="forgot-password-fieldset">
                <div>
                    <h2>Forgot password?</h2>
                </div>
                <div>
                    {% if page == 0 %}
                        <p>Enter your email or login:</p>
                        {{ form.username.label(class="form-control-label") }}
                        <br>
                        {{ form.username(id="username") }}
                    {% elif page == 1 %}
                        <p>Enter your code:</p>
                        {{ form.code.label(class="form-control-label") }}
                        <br>
                        {{ form.code(id="code") }}
                    {% else %}
                        <p>Enter your new password:</p>
                        {{ form.new_password.label(class="form-control-label") }}
                        <br>
                        {{ form.new_password(id="new_password") }}
                    {% endif %}
                </div>
                <div class="next-btn">
                    {{ form.next_btn(class="next-btn") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}