{% extends "layout.html" %}

{% block title %}Sign In{% endblock title %}

{% block content %}
    <form class="login-form" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="login-fieldset">
            <h2>Sign In</h2>
            <div>
                {{ form.username.label(class="form-control-label") }}
                <br>
                {{ form.username(class="form-control form-control=lg") }}
            </div>
            <div>
                {{ form.password.label(class="form-control-label") }}
                <br>
                {{ form.password(class="form-control form-control=lg") }}
            </div>
            <div>
                {{ form.remember.label() }}
                {{ form.remember() }}
                <br>
                {{ form.submit(class="submit-btn") }}
            </div>
            <div class="border-top pt-3">
                <hr>
                <p class="text-muted">
                    <a href="{{ url_for('auth.forgot_password', page=0) }}">Forgot password?</a><br>
                    <a href="{{ url_for('auth.register') }}">Register</a>
                </p>
            </div>
        </fieldset>
    </form>
{% endblock content %}
