body {
    background: #ffffff;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
    text-align: center;
}

h2 a {
    color: #333333;
}

p {
    font-size: 13pt; 
}

.home-about-fieldset {
    position: absolute;
    top: 75pt;
    left: 10pt;
    height: 250pt;
    width: 250pt;
}

.home-register-login-fieldset {
    position: absolute;
    top: 75pt;
    left: 350pt;
    height: 250pt;
    width: 250pt;
}

.home-about-div {
    font-size: 1.2em;
    padding: 1em;
}

.about-wrapper {
    width: 97%;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(10px, auto);
}

.about-wrapper div {
    background: #eeeeee;
    padding: 1em;
}

.about-wrapper div:nth-child(odd) {
    background: #dddddd;
}
