body {
    background: #ffffff;
    color: #333333;
    margin-top: 5rem;
}

.home-about-fieldset {
    position: absolute;
    top: 50pt;
    left: 10pt;
    height: 250pt;
    width: 250pt;
}

.home-register-login-fieldset {
    position: absolute;
    top: 50pt;
    left: 350pt;
    height: 250pt;
    width: 250pt;
}

.registration-form {
    text-align: left;
}

.register-fieldset, .login-fieldset {
    width: 250pt;
}

.forgot-password-fieldset {
    width: 250pt;
}

.feed-header-fieldset {
    height: max-content;
}

.posts-fieldset {
    width: 97%;
}

.profile-posts-fieldset {
    width: 97%;
}

.comments-fieldset {
    margin-left: 5%;
    width: 92%;
}

.comments-text {
    margin: 2pt;
    min-height: 20pt;
    max-height: 60pt;
    min-width: 98%; 
    max-width: 98%; 
}

.firstname-div {
    text-align: left;
}

.lastname-div {
    text-align: left;
}
