body {
    background: #ffffff;
    color: #333333;
    margin-top: 5rem;
}

h2 a {
    color: #333333;
}

.home-about-fieldset {
    position: absolute;
    top: 50pt;
    left: 10pt;
    height: 250pt;
    width: 250pt;
}

.home-register-login-fieldset {
    position: absolute;
    top: 50pt;
    left: 350pt;
    height: 250pt;
    width: 250pt;
}

.registration-form {
    text-align: left;
}

.register-fieldset, .login-fieldset {
    width: 250pt;
}

.forgot-password-fieldset {
    width: 250pt;
}

.feed-header-fieldset {
    height: max-content;
}

.posts-fieldset {
    width: 97%;
}

.profile-posts-fieldset {
    width: 97%;
}

.firstname-div {
    text-align: left;
}

.lastname-div {
    text-align: left;
}
