nav {
    position: absolute;
    top: 0pt;
    left: 0pt;
    margin: 0;
    display: flex;
    align-items: center;
    min-height: 10vh;
    max-height: 10vh;
    width: 100%;
    background-color: purple;
}

.logo {
    position: relative;
    display: flex;
    width: auto;
    margin-top: 0pt;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    background-color: red;
    min-width: 185pt;
    max-width: 185pt;
    min-height: 10vh;
    max-height: 10vh;
}

.logo a {
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
}

.logo li {
    margin: 10pt;
    list-style: none;
}

.nav-links {
    margin-left: 30%;
    display: flex;
    width: auto;
}

.nav-links a {
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
}

.nav-links li {
    margin: 10px;
    list-style: none;
}

.burger div {
    width: 25px;
    height: 3px;
    margin-left: 25px;
    margin-top: 5px;
    background-color: white;
}
