{% extends "layout.html" %}

{% block title %}About Page{% endblock title %}

{% block content %}
	<h1>About us:</h1>
	<!--Add some diagrams and some text-->
	<div class="about-wrapper">
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit.	
		</div>
		<div>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint nobis natus facilis incidunt recusandae commodi esse id deserunt tempore? Laborum, sint et voluptate veniam doloremque blanditiis neque ratione, error autem impedit quas nisi necessitatibus laboriosam vitae eius similique soluta at!	
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit.	
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit.	
		</div>
	</div>
{% endblock content %}