{% extends "layout.html" %}

{% block title %}Flask Social Blog{% endblock title %}

{% block content %}
	<form class="homepage-form">
		<fieldset class="home-about-fieldset">
			<h2>Welcome to the<br>flask-social-blog!</h2>
			<div class="home-about-div">
				<div class="follow-div">
					<p>
						<img src="{{ img_follow }}" width="25" height="25">
						Follow your interests.
					</p>
				</div>
				<div class="hear-div">
					<p>
						<img src="{{ img_hear }}" width="25" height="25">
						Hear what people are talking about.
					</p>
				</div>
				<div class="join-div">
					<p>
						<img src="{{ img_join }}" width="25" height="25">
						Join the conversation.
					</p> 
				</div>
			</div>
		</fieldset>
		<fieldset class="home-register-login-fieldset">
			<h2>See what's happening in the world right now</h2>
			<p style="padding: 1em;">
				Join today!
			</p>
			<div>
				<a id="Login" href="{{ url_for('auth.login') }}">
					<input 
						class="home-login-btn"
						type="button" value="Login"
					/>
				</a>
				<a id="Register" href="{{ url_for('auth.register') }}">
					<input 
						class="home-register-btn"
						type="button" value="Register"
					/>
				</a>
			</div>
		</fieldset>
	</form>
{% endblock content %}
