{% extends "layout.html" %}

{% block title %}Feed{% endblock title %}

{% block content %}
	<div>
		<form method="POST">
			<fieldset class="feed-header-fieldset">
				<h1>Feed</h1>
				<button>New post</button>
			</fieldset>
			<fieldset class="feed-fieldset">
				{% for post in posts %}
					<fieldset class="posts-fieldset">
						<h2>
							<a href="{{ url_for('user.posts', post_id=post.id) }}">
								{{ post.title }}
							</a> 
						</h2>
						<p>
							By 
							<a href="{{ url_for('user.profile', username=post.user.username) }}">
								{{ post.user.username }}
							</a> 
							on {{ post.date }}
						</p>
						<p>{{ post.text }}</p>
					</fieldset>
				{% endfor %}
			</fieldset>
		</form>
	</div>
{% endblock content %}
