{% extends "layout.html" %}

{% block title %}Create a new post{% endblock title %}

{% block content %}
    <div>
        <form method="POST">
            {{ form.hidden_tag() }}
            <!--{{ form.csrf_token }}-->
            <fieldset class="new-post-fieldset">
                <h3>Create a new post</h3>
                <div class="post-author-div">
                    <p>Author: {{ current_user.username }}</p>
                </div>
                <div class="post-address-div">
                    {{ form.post_address.label(class="form-control-label") }}
                    <br>
                    {{ form.post_address(id="post_address") }}
                </div>
                <div class="post-name-div">
                    {{ form.title.label(class="form-control-label") }}
                    <br>
                    {{ form.title(id="title") }}
                </div>
                <div class="post-text-div">
                    {{ form.text.label(class="form-control-label") }}
                    <br>
                    {{ form.text(id="text") }}
                </div>
                <div>
                    {{ form.pusblish(class="post-publish-btn") }}
                </div>
            </fieldset>
        </form>
    </div>
    
{% endblock content %}