{% extends "layout.html" %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block content %}
    <div>
        <form method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="post-fieldset">
                <h2>
                    {{ post.title }}
                </h2>
                <p>
                    By 
                    <a href="{{ url_for('user.profile', username=post.user.username) }}">
                        {{ post.user.username }}
                    </a> 
                    on {{ post.date }}
                </p>
                <p>{{ post.text }}</p>
            </fieldset>
            <fieldset class="comments-fieldset">
                {% for comment in comments %}
                    <p>
                        By 
                        User
                        on {{ comment.date }}
                    </p>
                    <p>{{ comment.text }}</p>
                {% endfor %}
            </fieldset>
            <fieldset>
                <div>
                    {{ form.text.label(class="form-control-label") }}
                    <br>
                    {{ form.text(class="form-control form-control=lg") }}
                </div>
                <div>
                    {{ form.pusblish(class="submit-btn") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}