{% extends "layout.html" %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block content %}
    <div>
        <form method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="post-fieldset">
                <h2>
                    {{ post.title }}
                </h2>
                <p>
                    By 
                    <a href="{{ url_for('user.profile', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a> 
                    on {{ post.date.strftime('%d, %b %Y') }}
                </p>
                <hr>
                <p>{{ post.text }}</p>
            </fieldset>
            <div class="comments-div">
                {% for comment in comments %}
                    <fieldset class="comments-fieldset">
                        <p>
                            By 
                            <a href="{{ url_for('user.profile', username=post.author.username) }}">
                                {{ comment.author.username }}
                            </a>
                            on {{ comment.date.strftime('%d, %b %Y') }}
                        </p>
                        <hr>
                        <p>{{ comment.text }}</p>
                    </fieldset>
                {% endfor %}
            </div>
            
            <fieldset class="comments-fieldset">
                <div>
                    {{ form.text.label(class="form-control-label") }}
                    <br>
                    {{ form.text(class="comments-text") }}
                </div>
                <div>
                    {{ form.pusblish(class="submit-btn") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}