{% extends "layout.html" %}

{% block title %}{{ username }}{% endblock title %}

{% block content %}
	<form>
		<fieldset class="user-info-fieldset">
			<img src="{{ image_file }}" width="100" height="100">
			<fieldset class="user-info">
				<p>Username: {{ username }}</p>
				<p>Firstname: {{ firstname }}</p>
				<p>Lastname: {{ lastname }}</p>
				<p>Email: {{ email }}</p>
				<p>Posts: {{ num_posts }}</p>
			</fieldset>
			<fieldset class="user-info-btns">
				<li>
					<a href="{{ url_for('user.update_profile', username=username) }}">
						Update profile
					</a>
				</li>
				<li><a href="#">Follow</a></li>
				<li><a href="#">Message</a></li>
				<li><a href="{{ url_for('user.new') }}">New post</a></li>
			</fieldset>
		</fieldset>
		<fieldset class="feed-fieldset">
			{% for post in posts %}
			<fieldset class="profile-posts-fieldset">
				<h2>
					<a href="{{ url_for('user.posts', post_id=post.id) }}">
						{{ post.title }}
					</a>
				</h2>
				<p>
					By 
					<a href="{{ url_for('user.profile', username=post.author.username) }}">
						{{ post.author.username }} 
					</a>
					on {{ post.date.strftime('%d, %b %Y') }}
				</p>
				<hr>
				<p>{{ post.text }}</p>
			</fieldset>
				
			{% endfor %}
		</fieldset>
	</form>
{% endblock content %}