{% extends "layout.html" %}

{% block title %}Update profile{% endblock title %}

{% block content %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="new-post-fieldset">
            <h3>Update your account</h3>
            <div class="firstname-div">
                {{ form.firstname.label(class="firstname-div") }}
                <br>
                {{ form.firstname(class="firstname-div") }}
            </div>
            <div class="lastname-div">
                {{ form.lastname.label(class="lastname-div") }}
                <br>
                {{ form.lastname(class="lastname-div") }}
            </div>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                <br>
                {{ form.username(class="form-control form-control=lg") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                <br>
                {{ form.email(class="form-control form-control=lg") }}
            </div>
            <div class="form-group">
                {{ form.about.label(class="form-control-label") }}
                <br>
                {{ form.about(class="form-control form-control=lg") }}
            </div>
            <div>
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>
{% endblock content %}