{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <div>
        <form method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="new-post-fieldset">
                <h3>Create a new post</h3>
                <div class="post-author-div">
                    <p>Author: {{ current_user.username }}</p>
                </div>
                <div class="post-name-div">
                    {{ form.title.label(class="form-control-label") }}
                    <br>
                    {{ form.title(id="title", class="post-name") }}
                </div>
                <div class="post-text-div">
                    {{ form.text.label(class="form-control-label") }}
                    <br>
                    {{ form.text(id="text", class="post-text") }}
                </div>
                <div class='post-publish-btn-div'>
                    {{ form.pusblish(class="post-publish-btn") }}
                </div>
            </fieldset>
        </form>
    </div>
    
{% endblock content %}