body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
    text-align: center;
}

.registration-form {
    text-align: left;
}

.input-userdata-fieldset {
    width: 250pt;
}

.new-post-fieldset {
    width: 300pt;
}

.firstname-div {
    text-align: left;
}

.lastname-div {
    text-align: left;
}

.text-field-div {
    width: 250pt;
}

.submit-btn, .publish-btn {
    height: 20pt;
    width: 135pt;
    margin-top: 10pt;
}

.next-btn {
    height: 20pt;
    width: 75pt;
}
