body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.registration-form {
    text-align: left;
}

.input-userdata {
    width: 250pt;
}

.firstname-div {
    text-align: left;
}

.lastname-div {
    text-align: left;
}

.submit-btn {
    height: 20pt;
    width: 150pt;
    margin-top: 10pt;
}
