body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

.home-about-fieldset {
    position: absolute;
    top: 100pt;
    left: 10pt;
    height: 250pt;
    width: 250pt;
}

.home-register-login-fieldset {
    position: absolute;
    top: 100pt;
    left: 350pt;
    height: 250pt;
    width: 250pt;
}

.registration-form {
    text-align: left;
}

.register-fieldset, .login-fieldset {
    width: 250pt;
}

.forgot-password-fieldset {
    width: 250pt;
}

.feed-header-fieldset {
    height: max-content;
}

.posts-fieldset {
    width: 500pt;
}

.firstname-div {
    text-align: left;
}

.lastname-div {
    text-align: left;
}
