{% extends "layout.html" %}

{% block title %}Forgot password{% endblock title %}

{% block content %}
    <div>
        <form>
            {{ form.hidden_tag() }}
            <fieldset>
                <div>
                    <h2>Forgot password?</h2>
                    <p>Enter your email or login:</p>
                </div>
                <div>
                    {{ form.username.label(class="form-control-label") }}
                    <br>
                    {{ form.username(class="form-control form-control=lg") }}
                </div>
                <div class="next-btn">
                    {{ form.next(class="next-btn") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}