{% extends "layout.html" %}

{% block title %}Flask Social Blog{% endblock title %}

{% block content %}
	<form class="homepage-form">
		<h1>Welcome to the flask-social-blog!</h1>
		<fieldset class="home-about-fieldset">
			Some information about this site.
		</fieldset>
		<fieldset class="home-register-login-fieldset">
			<p>Do you have an account?</p>
			<a href="{{ url_for('login') }}">
				<button class="home-login-btn">Sign In</button>
			</a>
			<a href="{{ url_for('register') }}">
				<button class="home-register-btn">Register</button>
			</a>
		</fieldset>
	</form>
{% endblock content %}
