{% extends "layout.html" %}

{% block title %}Flask Social Blog{% endblock title %}

{% block content %}
	<form class="homepage-form">
		<h1>Welcome to the flask-social-blog!</h1>
		<fieldset class="home-about-fieldset">
			Some information about this site.
		</fieldset>
		<fieldset class="home-register-login-fieldset">
			<p>Do you have an account?</p>
			<div>
				<a id="Login" href="{{ url_for('login') }}">
					<input 
						class="home-login-btn"
						type="button" value="Login"
					/>
				</a>
				<a id="Register" href="{{ url_for('register') }}">
					<input 
						class="home-register-btn"
						type="button" value="Register"
					/>
				</a>
			</div>
		</fieldset>
	</form>
{% endblock content %}
