<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navigation.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='buttons.css') }}">
		
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>
		<header class="site-header">
			<nav class="navbar">
				<div class="container">
					<a class="navbar-brand" href="{{ url_for('home') }}">
						<button>Flask Social Blog</button>
					</a>
					<div class="navbar-home-about">
						<a href="{{ url_for('home') }}">
							<button>Home</button>
						</a>
						<a href="{{ url_for('about') }}">
							<button>About</button>
						</a>
					</div>
					<!-- Navbar Right Side -->
					<div class="navbar-nav">
						<a href="{{ url_for('login') }}">
							<button>Login</button>
						</a>
						<a href="{{ url_for('register') }}">
							<button>Register</button>
						</a>
					</div>
				</div>
			</nav>
		</header>
		
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{ category }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		
		{% block content %}{% endblock %}
	</body>
</html>
