{% extends "layout.html" %}

{% block title %}Sign In{% endblock title %}

{% block content %}
    <div>
        <h1>Sign In page</h1>
        <form>
            {{ form.hidden_tag() }}
            <p>Enter your username and password.</p>
            <fieldset class="input-userdata">
                <div>
                    {{ form.username.label(class="form-control-label") }}
                    <br>
                    {{ form.username(class="form-control form-control=lg") }}
                </div>
                <div>
                    {{ form.password.label(class="form-control-label") }}
                    <br>
                    {{ form.password(class="form-control form-control=lg") }}
                </div>
                <div>
                    {{ form.submit(class="submit-btn") }}
                </div>
            </fieldset>
        </form>
    </div>
    <div class="border-top pt-3">
        <p class="text-muted">
            <a href="{{ url_for('forgot_password') }}">Forgot password?</a><br>
            <a href="{{ url_for('register') }}">Register</a>
        </p>
    </div>
{% endblock content %}
