{% extends "layout.html" %}

{% block title %}Create a new post{% endblock title %}

{% block content %}
    <div>
        <form>
            {{ form.hidden_tag() }}
            <fieldset class="new-post-fieldset">
                <h3>Create a new post</h3>
                <div class="post-author-div">
                    <p>Author Username</p>
                </div>
                <div class="post-address-div">
                    {{ form.post_address.label(class="form-control-label") }}
                    <br>
                    {{ form.post_address(class="form-control form-control=lg") }}
                </div>
                <div class="post-name-div">
                    {{ form.name_of_post.label(class="form-control-label") }}
                    <br>
                    {{ form.name_of_post(class="form-control form-control=lg") }}
                </div>
                <div class="post-text-div">
                    {{ form.text.label(class="form-control-label") }}
                    <br>
                    {{ form.text(class="form-control form-control=lg") }}
                </div>
                <div>
                    {{ form.pusblish(class="post-publish-btn") }}
                </div>
            </fieldset>
        </form>
    </div>
    
{% endblock content %}