{% extends "layout.html" %}

{% block title %}Username{% endblock title %}

{% block content %}
	<form>
		<fieldset class="user-info-fieldset">
			<div class="user-info">
				<p>Username</p>
				<p>Number of posts</p>
			</div>
			<div class="user-info-btns">
				<button class="submit-btn">Follow</button>
				<br>
				<button class="submit-btn">Message</button>
			</div>
		</fieldset>
		<fieldset class="posts-fieldset">
			<p>Posts</p>
			{% for post in posts %}
				<p>{{ post.title }}</p>
				<p>By {{ post.author }} on {{ post.date_posted }}</p>
				<p>{{ post.content }}</p>
			{% endfor %}
		</fieldset>
	</form>
{% endblock content %}