{% extends "layout.html" %}

{% block title %}Register{% endblock title %}

{% block content %}
    <div>
        <h1>Registration page</h1>
        <form class="registration-form">
            {{ form.hidden_tag() }}
            <p>Create an accout. It's free and only takes a minute.</p>
            <fieldset class="input-userdata">
                <div class="firstname-div">
                    {{ form.firstname.label(class="firstname-div") }}
                    <br>
                    {{ form.firstname(class="firstname-div") }}
                </div>
                <div class="lastname-div">
                    {{ form.lastname.label(class="lastname-div") }}
                    <br>
                    {{ form.lastname(class="lastname-div") }}
                </div>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    <br>
                    {{ form.username(class="form-control form-control=lg") }}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    <br>
                    {{ form.email(class="form-control form-control=lg") }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    <br>
                    {{ form.password(class="form-control form-control=lg") }}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    <br>
                    {{ form.confirm_password(class="form-control form-control=lg") }}
                </div>
                <div>
                    {{ form.submit(class="submit-btn") }}
                </div>
            </fieldset>
        </form>
    </div>
    <div class="border-top pt-3">
        <p class="text-muted">
            Already have an account?
            <a href= "{{ url_for('login') }}">Sign In</a>
        </p>
    </div>
{% endblock content %}