<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navigation.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='buttons.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='post.css') }}">
		
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>
		<nav>
			<div class="logo">
				<p>Flask-social blog</p>
			</div>
			<ul class="nav-links">
				<li><a href="{{ url_for('home') }}">Home</a></li>
				<li><a href="{{ url_for('about') }}">About</a></li>
				{% if current_user.is_authenticated %}
					<li>
						<a href="{{ url_for('user.profile', username=current_user.username) }}">
							Profile
						</a>
					</li>
					<li>
						<a href="{{ url_for('auth.logout') }}">
							Logout
						</a>
					</li>
				{% else %}
					<li><a href="{{ url_for('auth.login') }}">Login</a></li>
					<li><a href="{{ url_for('auth.register') }}">Register</a></li>
				{% endif %}
			</ul>
			<div class="burger">
				<div class="line01"></div>
				<div class="line02"></div>
				<div class="line03"></div>
			</div>
		</nav>

		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{ category }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		
		{% block content %}{% endblock %}
	</body>
</html>
